<% c++ #include "content.h" %>
<% skin my_skin %>
<% view blog_post uses content::master extends master %>
<% template page_content() %>
<h1><span>blog single post</span></h1>
<div>
	<img src="images/grew-a-mustache.jpg" alt="">
	<div class="article">
		<h2>WHY I GREW A MUSTACHE</h2>
		<p>
			Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the Terms of Use. You can even remove all our links if you want to.
		</p>
		<p>
			Looking for more templates? Just browse through all our Free Website Templates and find what you’re looking for. But if you don’t find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you’re looking for something different, something special. And we love the challenge of doing something different and something special.
		</p>
		<p>
			If you’re experiencing issues and concerns about this website template, join the discussion on our forum and meet other people in the community who share the same interests with you. Website Template details, discussion and updates for this Mustacchio Template. Website Template design by Free Website Templates.
		</p>
	</div>
</div>
<% end template %>
<% end view %>
<% end skin %>
