<% c++ #include "content.h" %>
<% skin my_skin %>
<% view blog uses content::master extends master %>
<% template page_content() %>
<h1><span>blog</span></h1>
<div>
	<ul>
		<li>
			<a href='<% url "/blog-post" %>' class="figure">
				<img src="images/cutting-mustache.jpg" alt="">
			</a>
			<div>
				<h3>why i grew a mustache</h3>
				<p>
					Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.
				</p>
				<a href='<% url "/blog-post" %>' class="more">read this</a>
			</div>
		</li>
		<li>
			<a href='<% url "/blog-post" %>' class="figure">
				<img src="images/in-the-country.jpg" alt="">
			</a>
			<div>
				<h3>in the country</h3>
				<p>
					Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.
				</p>
				<a href='<% url "/blog-post" %>' class="more">read this</a>
			</div>
		</li>
		<li>
			<a href='<% url "/blog-post" %>' class="figure">
				<img src="images/mustache-brothers.jpg" alt="">
			</a>
			<div>
				<h3>the mustache brothers</h3>
				<p>
					Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.
				</p>
				<a href='<% url "/blog-post" %>' class="more">read this</a>
			</div>
		</li>
	</ul>
</div>
<% end template %>
<% end view %>
<% end skin %>
