<% c++ #include "content.h" %>
<% skin my_skin %>
<% view gallery_post uses content::master extends master %>
<% template page_content() %>
<h1><span>gallery single post</span></h1>
<div>
	<img src="images/prim-and-proper.jpg" alt="">
	<div class="article">
		<h4>PRIM AND PROPER</h4>
		<p>
		Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.
		</p>
	</div>
</div>
<% end template %>
<% end view %>
<% end skin %>
