<% c++ #include "content.h" %>
<% skin my_skin %>
<% view gallery uses content::master extends master %>
<% template page_content() %>
<h1><span>gallery</span></h1>
<ul class="gallery">
<li>
	<a href='<% url "/gallery-post" %>'>
		<img src="images/mustache1.jpg" alt="">
	</a>
</li>
<li>
	<a href='<% url "/gallery-post" %>'>
		<img src="images/mustache2.jpg" alt="">
	</a>
</li>
<li>
	<a href='<% url "/gallery-post" %>'>
		<img src="images/mustache3.jpg" alt="">
	</a>
</li>
<li>
	<a href='<% url "/gallery-post" %>'>
		<img src="images/mustache4.jpg" alt="">
	</a>
</li>
<li>
	<a href='<% url "/gallery-post" %>'>
		<img src="images/mustache5.jpg" alt="">
	</a>
</li>
<li>
	<a href='<% url "/gallery-post" %>'>
		<img src="images/mustache6.jpg" alt="">
	</a>
</li>
<li>
	<a href='<% url "/gallery-post" %>'>
		<img src="images/mustache7.jpg" alt="">
	</a>
</li>
<li>
	<a href='<% url "/gallery-post" %>'>
		<img src="images/mustache8.jpg" alt="">
	</a>
</li>
<li>
	<a href='<% url "/gallery-post" %>'>
		<img src="images/mustache9.jpg" alt="">
	</a>
</li>
</ul>
<% end template %>
<% end view %>
<% end skin %>
