<% c++ #include "content.h" %>
<% skin my_skin %>
<% view index uses content::index extends master %>
<% template page_content() %>
		<div id="featured">
			<img src="images/the-beacon.jpg" alt="">
			<div>
				<h2>The beacon to all mankind</h2>
				<span>Our website templates are created with</span>
				<span>inspiration, checked for quality and originality</span>
				<span>and meticulously sliced and coded.</span>
				<a href='<% url "blog-post" %>' class="more">read more</a>
			</div>
		</div>
		<ul>
			<li>
				<a href='<% url "gallery" %>'>
					<img src="images/the-actor.jpg" alt="">
					<!--<span>the father</span> -->
				</a>
			</li>
        <!--
			<li>
				<a href='<% url "gallery" %>'>
					<img src="images/the-actor.jpg" alt="">
					<span>the actor</span>
				</a>
			</li>
        -->
            <%= adtag_list_300x250 | raw %>
			<li>
				<a href='<% url "gallery" %>'>
					<img src="images/the-nerd.jpg" alt="">
					<!-- <span>the nerd</span> -->
				</a>
			</li>
		</ul>
<% end template %>
<% end view %>
<% end skin %>
